/**
 * @file
 * @project 719
 * @package sftheme
 * @site app1
 */
.sf_navigation {
	background-image:url(images/719_nav_1.jpg);
}
.sf_navigation ul li a {
	color:#584d35;
	text-shadow:1px 1px #f9e466;
}
.sf_navigation ul li a:visited {
	color:#584d35;
}
.sf_navigation ul li a:hover {
	color:#000000;
}
.sf_navigation ul li:hover a {
	border:solid 1px #f6cb46;
}
/*------------------------------------
	DBNow
------------------------------------*/
.Data_Central_color7 {
	background-color:#0d8ab3;
	color:#fff;
}
.Data_Central_color1 {
	background-color:#1ab2e4;
	color:#fff;
}
.Data_Central_color2 { background-color:#ffffff; }
.Data_Central_color3 { background-color:#f2f2f2; }
.Data_Central_color6 { background-color:#e3e2e2; }
.Data_Central_color4 { background-color:#d7d7d7; }
.Data_Central_color5 { border-color:#e3e2e2; }